/.vs
/Binaries
/Debug
/Intermediate
/Saved
/MyTest.VC.db
/MyTest.VC.VC.opendb
/Content/Collections
/Content/Developers
/Content/Geometry
/Content/Mannequin
/Content/StarterContent
/MyTest.sdf
/Plugins/JSONQuery_UE4/Intermediate/Build
/Plugins/JSONQuery_UE4/Binaries/Win64
/Plugins/JSONQuery_UE4/Binaries
/Plugins/JSONQuery_UE4/Intermediate
